@import 'addons/glow';
@import 'addons/slide';
@import 'addons/backgrounds';
@import 'hooper/dist/hooper.css';

body {
  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 1em;
  }

  scroll-behavior: smooth;
}

.footer {
  background: linear-gradient($footer-background-color, $white);

  &.is-dark {
    background: $dark;
    color: $white-ter !important;
  }
}

.has-shadow {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);

  &-centered {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  }

  &-soft {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  }
}

.is-rounded {
  border-radius: $radius-large !important;

  &.has-children > *,
  &.image > img {
    border-radius: $radius-large;
  }
}

.has-maxheight {
  height: 100% !important;
}

.title {
  &.is-0 {
    font-size: 100px !important;

    &-desktop {
      @extend .title.is-0;

      @media screen and (max-width: $desktop){
        font-size: $size-1 !important;
      }
    }
  }
}

.intersection {
  .intersection-top {
    padding-bottom: +$intersection;
  }

  .intersection-bottom {
    margin-top: -$intersection;
  }
}

.is-content {
  font-family: Karla;
  p {
    margin: $spacing 0;
  }
}

.sticky-top {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.is-escaping {
  margin: -$spacing;
}

.has-margin {
  margin: $spacing;
}

.has-padding {
  padding: $spacing;
}

[contenteditable='true']:focus {
  outline: none;
}

.is-vcentered {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns.is-reversed {
  flex-direction: row-reverse;
}

.is-primary, .is-link {
  a {
    color: inherit;
  }
}

.has-auto-height {
  height: auto;
}

.thumbnail {
  img {
    max-height: $thumbnail-side;
    width: auto;

    display: flex;
    margin: auto;
  }

  &.is-adaptive {
    img {
      height: auto;
      width: 100%;
      max-width: $thumbnail-side;
    }
  }

  &.is-square {
    img {
      height: $thumbnail-side;
      width: $thumbnail-side;
    }
  }
}

.is-centered {
  margin: auto;
}
