// Colors
$primary: #0084ff;
$secondary: #023047;
$info: rgb(251, 133, 0);
$link: #219ebc;
$dark: rgb(36, 36, 36);
$light: rgb(255, 255, 255);
$white: #FFF;

// Layout
$radius-large: 15px;
$intersection: 100px;
$spacing: 10px;
$footer-padding: 3rem 1.5rem 4rem;
$footer-background-color: $white;

// Fonts
$family-sans-serif: SpaceMono;
$family-monospace: SpaceMono;
