// Colors
$primary: #0084ff;
$secondary: #022f46;
$info: #8200fb;
$link: #219ebc;
$dark: #242424;
$light: #ffffff;
$white: #FFF;
$footer-background-color: $white;

// Layout
$radius-large: 15px;
$intersection: 100px;
$spacing: 10px;
$footer-padding: 3rem 1.5rem 4rem;
$thumbnail-side: 150px;

// Fonts
$family-sans-serif: SpaceMono;
$family-monospace: SpaceMono;
